<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.drgrib.obsidian</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>drgrib</string>
	<key>description</key>
	<string>Lean, high-speed Alfred workflow for Obsidian</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Obsidian</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>default: ~/Documents/ObsidianVault</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Enter your vault paths as key:path pairs. Use 'default:' for your primary vault, and '#tag:' for routed vaults. One per line.</string>
			<key>label</key>
			<string>Vault Map</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>vault_map</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/drgrib/alfred-obsidian</string>
</dict>
</plist>
